<!DOCTYPE html>
{% load static %}
<html>
{% csrf_token %}
<head lang="zh-tw">
    <meta charset="UTF-8">
    <title>水庫水位即時資訊</title>
    <script src="https://d3js.org/d3.v3.min.js" language="JavaScript"></script>
    <script src="{% static 'liquidFillGauge.js' %}" language="JavaScript"></script>
    <style>
        .liquidFillGaugeText { font-family: Helvetica; font-weight: bold; }
    </style>
    <link href="{% static 'fontawesome-free-5.15.3-web/css/all.min.css' %}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body>
<ul class="nav nav-pills nav-fill">
	 <nav class="navbar fixed-top navbar-light" style="background-color:black">
	 <div class="container fluid">
 	 <li class="nav-item">
         <a class="nav-link" href="home" style="font-weight: bold; color: white; font-size:2vmin;"><i class="fas fa-home"></i>&nbsp; 首頁 Home</a>
     	 </li>
     	 <li class="nav-item">
      	 <a class="nav-link" href="about" style="font-weight: bold; color: white; font-size:2vmin;"><i class="fas fa-info-circle"></i>&nbsp; 關於 About</a>
     	 </li>
     	<li class="nav-item">
       	<a class="nav-link" href="share" style="font-weight: bold; color: white; font-size:2vmin;"><i class="far fa-file-word"></i>&nbsp; 各類分享文</a>
     	</li>
     	<li class="nav-item active">
       	<a class="nav-link active dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-weight: bold; color: white ; font-size:2vmin;"><i class="fas fa-spider"></i>&nbsp; 爬蟲時事資訊</a>
       	<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        	<a class="dropdown-item" href="spidercovid-19" style="font-weight: bold; color: black; font-size:2vmin;"><i class="fas fa-lungs-virus"></i>&nbsp;Covid-19 即時資訊&nbsp; </a>
         	<a class="dropdown-item" href="spiderwater" style="font-weight: bold; color: black; font-size:2vmin;">&nbsp;<i class="fas fa-tint"></i>&nbsp;&nbsp;水庫水位即時資訊&nbsp; </a>
         	<a class="dropdown-item" href="#" style="font-weight: bold; color: black; font-size:2vmin;">&nbsp;<i class="fas fa-wrench"></i>&nbsp;正在開發中...</a>
       	</div>
     	</li>
     	<li class="nav-item">
     		 <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-weight: bold; color: white; font-size:2vmin;">
      	 <i class="fas fa-code"></i>&nbsp 程式練習
      	 </a>
       	<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
       	   <a class="dropdown-item" href="https://zerojudge.tw/" style="font-weight: bold; color: black; font-size:2vmin;">Zero Judge 高中生程式解題系統</a>
       	  <a class="dropdown-item" href="http://www.tcgs.tc.edu.tw:1218/" style="font-weight: bold; color: black; font-size:2vmin;">台中女中程式解題系統</a>
        <a class="dropdown-item" href="https://leetcode.com/" style="font-weight: bold; color: black; font-size:2vmin;">LeetCode</a>
      	  </div>
      	</li>
 	</div>
	</nav>
</ul>
<a>&ensp;</a>
<h1 id="北部">&ensp; </h1>
<div class="container">
<div class="nav nav-pills nav-fill">
	<div class="nav-item">
	<a class="btn btn-outline-primary" href="#北部" role="button" style="font-weight: bold; width:250px;height:50px; font-size: 24px;">北部區域</a>
	</div>
	<div class="nav-item">
	<a class="btn btn-outline-primary" href="#中部" role="button" style="font-weight: bold; width:250px;height:50px; font-size: 24px;">中部區域</a>
	</div>
	<div class="nav-item">
	<a class="btn btn-outline-primary" href="#南部" role="button" style="font-weight: bold; width:250px;height:50px; font-size: 24px;">南部區域</a>
	</div>
</div>
</div>
<div class="container-fluid">
<a>&ensp;</a></br>
<div class="container-fluid">
  <div class="row">
  	<h1 align="center" style="font-weight:bold;">北部地區&emsp;</h1>
	<hr>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <h3 class="col" align="center" style="font-weight:bold;">新山水庫</h3>
    <h3 class="col" align="center" style="font-weight:bold;">翡翠水庫&emsp;</h3>
    <h3 class="col" align="center" style="font-weight:bold;">石門水庫&emsp;&nbsp;</h3>
    <h3 class="col" align="center" style="font-weight:bold;">永和山水庫&emsp;&emsp;</h3>
    <h3 class="col" align="center" style="font-weight:bold;">寶山第二水庫&emsp;&emsp;&emsp;</h3>
  </div>
</div>
<svg id="fillgauge1" width="19.5%" height="250" onclick="gauge1.update(NewValue());"></svg>
<svg id="fillgauge2" width="19.5%" height="250" onclick="gauge2.update(NewValue());"></svg>
<svg id="fillgauge3" width="19.5%" height="250" onclick="gauge3.update(NewValue());"></svg>
<svg id="fillgauge4" width="19.5%" height="250" onclick="gauge4.update(NewValue());"></svg>
<svg id="fillgauge5" width="19.5%" height="250" onclick="gauge5.update(NewValue());"></svg>
</br>
<a>&ensp;</a></br>
<div class="container-fluid">
  <div class="row">
    <h5 class="col" align="center" >有效蓄水量 : {{ dam.0.DryView.1.Capacity }}萬立方公尺</h5>
    <h5 class="col" align="center" >有效蓄水量 : {{ dam.0.DryView.2.Capacity }}萬立方公尺</h5>
    <h5 class="col" align="center" >有效蓄水量 : {{ dam.0.DryView.0.Capacity }}萬立方公尺&emsp;</h5>
    <h5 class="col" align="center" >有效蓄水量 : {{ dam.0.DryView.4.Capacity }}萬立方公尺&emsp;&emsp;</h5>
    <h5 class="col" align="center" >有效蓄水量 : {{ dam.0.DryView.3.Capacity }}萬立方公尺&emsp;&emsp;&nbsp;</h5>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <h5 class="col" align="center" >最大蓄水量 : {{ dam.0.DryView.1.EffectiveCapacity }}萬立方公尺</h5>
    <h5 class="col" align="center" >最大蓄水量 : {{ dam.0.DryView.2.EffectiveCapacity }}萬立方公尺</h5>
    <h5 class="col" align="center" >最大蓄水量 : {{ dam.0.DryView.0.EffectiveCapacity }}萬立方公尺&emsp;</h5>
    <h5 class="col" align="center" >最大蓄水量 : {{ dam.0.DryView.4.EffectiveCapacity }}萬立方公尺&emsp;&emsp;</h5>
    <h5 class="col" align="center" >最大蓄水量 : {{ dam.0.DryView.3.EffectiveCapacity }}萬立方公尺&emsp;&emsp;&nbsp;</h5>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <h5 class="col" align="center" >昨日累積降雨量 : {{ dam.0.DryView.1.Basin_Rain }} (mm)</h5>
    <h5 class="col" align="center" >昨日累積降雨量 : {{ dam.0.DryView.2.Basin_Rain }} (mm)</h5>
    <h5 class="col" align="center" >昨日累積降雨量 : {{ dam.0.DryView.0.Basin_Rain }} (mm)&emsp;</h5>
    <h5 class="col" align="center" >昨日累積降雨量 : {{ dam.0.DryView.4.Basin_Rain }} (mm)&emsp;&emsp;</h5>
    <h5 class="col" align="center" >昨日累積降雨量 : {{ dam.0.DryView.3.Basin_Rain }} (mm)&emsp;&emsp;&nbsp;</h5>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <h5 class="col" align="center" >最後更新時間 : {{ dam.0.DryView.1.DATE }}</h5>
    <h5 class="col" align="center" >最後更新時間 : {{ dam.0.DryView.2.DATE }}</h5>
    <h5 class="col" align="center" >最後更新時間 : {{ dam.0.DryView.0.DATE }}&emsp;</h5>
    <h5 class="col" align="center" >最後更新時間 : {{ dam.0.DryView.4.DATE }}&emsp;&emsp;</h5>
    <h5 class="col" align="center" >最後更新時間 : {{ dam.0.DryView.3.DATE }}&emsp;&emsp;&nbsp;</h5>
  </div>
</div>
<a>&ensp;</a></br>
<div class="container-fluid">
  <div class="row">
    <h3 class="col" align="center" style="font-weight:bold;">明德水庫</h3>
    <h3 class="col" align="center" style="font-weight:bold;"></h3>
    <h3 class="col" align="center" style="font-weight:bold;"></h3>
    <h3 class="col" align="center" style="font-weight:bold;"></h3>
    <h3 class="col" align="center" style="font-weight:bold;"></h3>
  </div>
</div>
<svg id="fillgauge6" width="19.5%" height="250" onclick="gauge6.update(NewValue());"></svg>
<svg id="fillgauge6" width="19.5%" height="250" onclick="gauge6.update(NewValue());"></svg>
<svg id="fillgauge6" width="19.5%" height="250" onclick="gauge6.update(NewValue());"></svg>
<svg id="fillgauge6" width="19.5%" height="250" onclick="gauge6.update(NewValue());"></svg>
<svg id="fillgauge6" width="19.5%" height="250" onclick="gauge6.update(NewValue());"></svg>
</br><a>&ensp;</a></br>
<div class="container-fluid">
  <div class="row">
    <h5 class="col" align="center" >有效蓄水量 : {{ dam.0.DryView.5.Capacity }}萬立方公尺</h5>
    <h5 class="col" align="center" ></h5>
    <h5 class="col" align="center" ></h5>
    <h5 class="col" align="center" ></h5>
    <h5 class="col" align="center" ></h5>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <h5 class="col" align="center" >最大蓄水量 : {{ dam.0.DryView.5.EffectiveCapacity }}萬立方公尺</h5>
    <h5 class="col" align="center" ></h5>
    <h5 class="col" align="center" ></h5>
    <h5 class="col" align="center" ></h5>
    <h5 class="col" align="center" ></h5>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <h5 class="col" align="center" >昨日累積降雨量 : {{ dam.0.DryView.5.Basin_Rain  }} (mm)</h5>
    <h5 class="col" align="center" ></h5>
    <h5 class="col" align="center" ></h5>
    <h5 class="col" align="center" ></h5>
    <h5 class="col" align="center" id="中部"></h5>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <h5 class="col" align="center" >最後更新時間 : {{ dam.0.DryView.5.DATE }}</h5>
    <h5 class="col" align="center" ></h5>
    <h5 class="col" align="center" ></h5>
    <h5 class="col" align="center" ></h5>
    <h5 class="col" align="center" ></h5>
  </div>
</div>
<h1 align="center" style="font-weight:bold;">中部地區&emsp;</h1>
<hr>
<div class="container-fluid">
  <div class="row">
    <h3 class="col" align="center" style="font-weight:bold;">鯉魚潭水庫</h3>
    <h3 class="col" align="center" style="font-weight:bold;">德基水庫&emsp;</h3>
    <h3 class="col" align="center" style="font-weight:bold;">日月潭水庫&emsp;&nbsp;</h3>
    <h3 class="col" align="center" style="font-weight:bold;">霧社水庫&emsp;&emsp;</h3>
    <h3 class="col" align="center" style="font-weight:bold;">湖山水庫&emsp;&emsp;&emsp;</h3>
  </div>
</div>
<svg id="fillgauge7" width="19.5%" height="250" onclick="gauge7.update(NewValue());"></svg>
<svg id="fillgauge8" width="19.5%" height="250" onclick="gauge8.update(NewValue());"></svg>
<svg id="fillgauge9" width="19.5%" height="250" onclick="gauge9.update(NewValue());"></svg>
<svg id="fillgauge10" width="19.5%" height="250" onclick="gauge10.update(NewValue());"></svg>
<svg id="fillgauge11" width="19.5%" height="250" onclick="gauge11.update(NewValue());"></svg>
</br><a>&ensp;</a>
</br>
<div class="container-fluid">
  <div class="row">
    <h5 class="col" align="center" >有效蓄水量 : {{ dam.1.DryView.0.Capacity }}萬立方公尺</h5>
    <h5 class="col" align="center" >有效蓄水量 : {{ dam.1.DryView.1.Capacity }}萬立方公尺</h5>
    <h5 class="col" align="center" >有效蓄水量 : {{ dam.1.DryView.3.Capacity }}萬立方公尺&emsp;</h5>
    <h5 class="col" align="center" >有效蓄水量 : {{ dam.1.DryView.2.Capacity }}萬立方公尺&emsp;&emsp;</h5>
    <h5 class="col" align="center" >有效蓄水量 : {{ dam.1.DryView.5.Capacity }}萬立方公尺&emsp;&emsp;&nbsp;</h5>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <h5 class="col" align="center" >最大蓄水量 : {{ dam.1.DryView.0.EffectiveCapacity }}萬立方公尺</h5>
    <h5 class="col" align="center" >最大蓄水量 : {{ dam.1.DryView.1.EffectiveCapacity }}萬立方公尺</h5>
    <h5 class="col" align="center" >最大蓄水量 : {{ dam.1.DryView.3.EffectiveCapacity }}萬立方公尺&emsp;</h5>
    <h5 class="col" align="center" >最大蓄水量 : {{ dam.1.DryView.2.EffectiveCapacity }}萬立方公尺&emsp;&emsp;</h5>
    <h5 class="col" align="center" >最大蓄水量 : {{ dam.1.DryView.5.EffectiveCapacity }}萬立方公尺&emsp;&emsp;&nbsp;</h5>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <h5 class="col" align="center" >昨日累積降雨量 : {{ dam.1.DryView.0.Basin_Rain }} (mm)</h5>
    <h5 class="col" align="center" >昨日累積降雨量 : {{ dam.1.DryView.1.Basin_Rain }} (mm)</h5>
    <h5 class="col" align="center" >昨日累積降雨量 : {{ dam.1.DryView.3.Basin_Rain }} (mm)&emsp;</h5>
    <h5 class="col" align="center" >昨日累積降雨量 : {{ dam.1.DryView.2.Basin_Rain }} (mm)&emsp;&emsp;</h5>
    <h5 class="col" align="center" >昨日累積降雨量 : {{ dam.1.DryView.5.Basin_Rain }} (mm)&emsp;&emsp;&nbsp;</h5>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <h5 class="col" align="center" >最後更新時間 : {{ dam.1.DryView.0.DATE }}</h5>
    <h5 class="col" align="center" >最後更新時間 : {{ dam.1.DryView.1.DATE }}</h5>
    <h5 class="col" align="center" >最後更新時間 : {{ dam.1.DryView.3.DATE }}&emsp;</h5>
    <h5 class="col" align="center" >最後更新時間 : {{ dam.1.DryView.2.DATE }}&emsp;&emsp;</h5>
    <h5 class="col" align="center" >最後更新時間 : {{ dam.1.DryView.5.DATE }}&emsp;&emsp;&nbsp;</h5>
  </div>
</div>
</br><a>&ensp;</a></br>
</br>
<h1 align="center" style="font-weight:bold;">南部地區&emsp;</h1>
<hr>
<div class="container-fluid">
  <div class="row">
    <h3 class="col" align="center" style="font-weight:bold;">仁義潭水庫</h3>
    <h3 class="col" align="center" style="font-weight:bold;">白河水庫&emsp;</h3>
    <h3 class="col" align="center" style="font-weight:bold;">曾文水庫&emsp;</h3>
    <h3 class="col" align="center" style="font-weight:bold">烏山頭水庫&nbsp;&emsp;</h3>
    <h3 class="col" align="center" style="font-weight:bold;">南化水庫&emsp;&emsp;&nbsp;</h3>
  </div>
</div>
<a>&ensp;</a>
<svg id="fillgauge13" width="19.5%" height="250" onclick="gauge13.update(NewValue());"></svg>
<svg id="fillgauge14" width="19.5%" height="250" onclick="gauge14.update(NewValue());"></svg>
<svg id="fillgauge15" width="19.5%" height="250" onclick="gauge15.update(NewValue());"></svg>
<svg id="fillgauge16" width="19.4%" height="250" onclick="gauge16.update(NewValue());"></svg>
<svg id="fillgauge17" width="19.4%" height="250" onclick="gauge17.update(NewValue());"></svg>
</br><a>&ensp;</a></br>
<div class="container-fluid">
  <div class="row">
    <h5 class="col" align="center" >有效蓄水量 : {{ dam.2.DryView.0.Capacity }}萬立方公尺</h5>
    <h5 class="col" align="center" >有效蓄水量 : {{ dam.2.DryView.1.Capacity }}萬立方公尺</h5>
    <h5 class="col" align="center" >有效蓄水量 : {{ dam.2.DryView.3.Capacity }}萬立方公尺&emsp;</h5>
    <h5 class="col" align="center" >有效蓄水量 : {{ dam.2.DryView.2.Capacity }}萬立方公尺&emsp;&emsp;</h5>
    <h5 class="col" align="center" >有效蓄水量 : {{ dam.2.DryView.4.Capacity }}萬立方公尺&emsp;&emsp;&nbsp;</h5>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <h5 class="col" align="center" >最大蓄水量 : {{ dam.2.DryView.0.EffectiveCapacity }}萬立方公尺</h5>
    <h5 class="col" align="center" >最大蓄水量 : {{ dam.2.DryView.1.EffectiveCapacity  }}萬立方公尺</h5>
    <h5 class="col" align="center" >最大蓄水量 : {{ dam.2.DryView.3.EffectiveCapacity }}萬立方公尺&emsp;</h5>
    <h5 class="col" align="center" >最大蓄水量 : {{ dam.2.DryView.2.EffectiveCapacity }}萬立方公尺&emsp;&emsp;</h5>
    <h5 class="col" align="center" >最大蓄水量 : {{ dam.2.DryView.4.EffectiveCapacity }}萬立方公尺&emsp;&emsp;&nbsp;</h5>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <h5 class="col" align="center" >昨日累積降雨量 : {{ dam.2.DryView.0.Basin_Rain }} (mm)</h5>
    <h5 class="col" align="center" >昨日累積降雨量 : {{ dam.2.DryView.1.Basin_Rain }} (mm)</h5>
    <h5 class="col" align="center" >昨日累積降雨量 : {{ dam.2.DryView.3.Basin_Rain }} (mm)&emsp;</h5>
    <h5 class="col" align="center" >昨日累積降雨量 : {{ dam.2.DryView.2.Basin_Rain }} (mm)&emsp;&emsp;</h5>
    <h5 class="col" align="center" >昨日累積降雨量 : {{ dam.2.DryView.4.Basin_Rain }} (mm)&emsp;&emsp;&nbsp;</h5>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <h5 class="col" align="center" >最後更新時間 : {{ dam.2.DryView.0.DATE }}</h5>
    <h5 class="col" align="center" >最後更新時間 : {{ dam.2.DryView.1.DATE }}</h5>
    <h5 class="col" align="center" >最後更新時間 : {{ dam.2.DryView.3.DATE }}&emsp;</h5>
    <h5 class="col" align="center" >最後更新時間 : {{ dam.2.DryView.2.DATE }}&emsp;&emsp;</h5>
    <h5 class="col" align="center" >最後更新時間 : {{ dam.2.DryView.4.DATE }}&emsp;&emsp;&nbsp;</h5>
  </div>
</div>
</br><a>&ensp;</a></br>
<div class="container-fluid">
  <div class="row">
    <h3 class="col" align="center" style="font-weight:bold;">阿公店水庫</h3>
    <h3 class="col" align="center" style="font-weight:bold;">牡丹水庫&emsp;</h3>
    <h3 class="col" align="center" style="font-weight:bold;"></h3>
    <h3 class="col" align="center" style="font-weight:bold;"></h3>
    <h3 class="col" align="center" style="font-weight:bold;"></h3>
  </div>
</div>
<svg id="fillgauge18" width="19.5%" height="250" onclick="gauge6.update(NewValue());"></svg>
<svg id="fillgauge19" width="19.5%" height="250" onclick="gauge6.update(NewValue());"></svg>
<svg id="fillgauge20" width="19.5%" height="250" onclick="gauge6.update(NewValue());"></svg>
<svg id="fillgauge21" width="19.5%" height="250" onclick="gauge6.update(NewValue());"></svg>
<svg id="fillgauge21" width="19.5%" height="250" onclick="gauge6.update(NewValue());"></svg>
</br><a>&ensp;</a></br>
<div class="container-fluid">
  <div class="row">
    <h5 class="col" align="center" >有效蓄水量 : {{ dam.2.DryView.5.Capacity }}萬立方公尺</h5>
    <h5 class="col" align="center" >有效蓄水量 : {{ dam.2.DryView.6.Capacity }}萬立方公尺</h5>
    <h5 class="col" align="center" ></h5>
    <h5 class="col" align="center" ></h5>
    <h5 class="col" align="center" ></h5>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <h5 class="col" align="center" >最大蓄水量 : {{ dam.2.DryView.5.EffectiveCapacity }}萬立方公尺</h5>
    <h5 class="col" align="center" >最大蓄水量 : {{ dam.2.DryView.6.EffectiveCapacity }}萬立方公尺</h5>
    <h5 class="col" align="center" ></h5>
    <h5 class="col" align="center" ></h5>
    <h5 class="col" align="center" ></h5>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <h5 class="col" align="center" >昨日累積降雨量 : {{ dam.2.DryView.5.Basin_Rain }} (mm)</h5>
    <h5 class="col" align="center" >昨日累積降雨量 : {{ dam.2.DryView.6.Basin_Rain }} (mm)</h5>
    <h5 class="col" align="center" ></h5>
    <h5 class="col" align="center" ></h5>
    <h5 class="col" align="center" ></h5>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <h5 class="col" align="center" >最後更新時間 : {{ dam.2.DryView.5.DATE }}</h5>
    <h5 class="col" align="center" >最後更新時間 : {{ dam.2.DryView.6.DATE }}</h5>
    <h5 class="col" align="center" ></h5>
    <h5 class="col" align="center" ></h5>
    <h5 class="col" align="center" ></h5>
  </div>
</div>
<script language="JavaScript">
    var gauge1 = loadLiquidFillGauge("fillgauge1", {{ dam.0.DryView.1.CapacityRate }});
    var config1 = liquidFillGaugeDefaultSettings();
    config1.circleColor = "#FF7777";
    config1.textColor = "#FF4444";
    config1.waveTextColor = "#FFAAAA";
    config1.waveColor = "#FFDDDD";
    config1.circleThickness = 0.2;
    config1.textVertPosition = 0.2;
    config1.waveAnimateTime = 1000;
    var gauge2= loadLiquidFillGauge("fillgauge2", {{ dam.0.DryView.2.CapacityRate }});
    var config2 = liquidFillGaugeDefaultSettings();
    config2.circleColor = "#FF7777";
    config2.textColor = "#FF4444";
    config2.waveTextColor = "#FFAAAA";
    config2.waveColor = "#FFDDDD";
    config2.circleThickness = 0.2;
    config2.textVertPosition = 0.2;
    config2.waveAnimateTime = 1000;
    var gauge3 = loadLiquidFillGauge("fillgauge3", {{ dam.0.DryView.0.CapacityRate }});
    var config3 = liquidFillGaugeDefaultSettings();
    config3.circleColor = "#FF7777";
    config3.textColor = "#FF4444";
    config3.waveTextColor = "#FFAAAA";
    config3.waveColor = "#FFDDDD";
    config3.circleThickness = 0.2;
    config3.textVertPosition = 0.2;
    config3.waveAnimateTime = 1000;
    var gauge4 = loadLiquidFillGauge("fillgauge4", {{ dam.0.DryView.4.CapacityRate }});
    var config4 = liquidFillGaugeDefaultSettings();
    config4.circleColor = "#FF7777";
    config4.textColor = "#FF4444";
    config4.waveTextColor = "#FFAAAA";
    config4.waveColor = "#FFDDDD";
    config4.circleThickness = 0.2;
    config4.textVertPosition = 0.2;
    config4.waveAnimateTime = 1000;
    var gauge5 = loadLiquidFillGauge("fillgauge5", {{ dam.0.DryView.3.CapacityRate }});
    var config5 = liquidFillGaugeDefaultSettings();
    config5.circleColor = "#FF7777";
    config5.textColor = "#FF4444";
    config5.waveTextColor = "#FFAAAA";
    config5.waveColor = "#FFDDDD";
    config5.circleThickness = 0.2;
    config5.textVertPosition = 0.2;
    config5.waveAnimateTime = 1000;
    var gauge6 = loadLiquidFillGauge("fillgauge6", {{ dam.0.DryView.5.CapacityRate }});
    var config6 = liquidFillGaugeDefaultSettings();
    config6.circleColor = "#FF7777";
    config6.textColor = "#FF4444";
    config6.waveTextColor = "#FFAAAA";
    config6.waveColor = "#FFDDDD";
    config6.circleThickness = 0.2;
    config6.textVertPosition = 0.2;
    config6.waveAnimateTime = 1000;
    var gauge7 = loadLiquidFillGauge("fillgauge7", {{ dam.1.DryView.0.CapacityRate }});
    var config7 = liquidFillGaugeDefaultSettings();
    config7.circleColor = "#FF7777";
    config7.textColor = "#FF4444";
    config7.waveTextColor = "#FFAAAA";
    config7.waveColor = "#FFDDDD";
    config7.circleThickness = 0.2;
    config7.textVertPosition = 0.2;
    config7.waveAnimateTime = 1000;
    var gauge8 = loadLiquidFillGauge("fillgauge8", {{ dam.1.DryView.1.CapacityRate }});
    var config8 = liquidFillGaugeDefaultSettings();
    config8.circleColor = "#FF7777";
    config8.textColor = "#FF4444";
    config8.waveTextColor = "#FFAAAA";
    config8.waveColor = "#FFDDDD";
    config8.circleThickness = 0.2;
    config8.textVertPosition = 0.2;
    config8.waveAnimateTime = 1000;
    var gauge9 = loadLiquidFillGauge("fillgauge9", {{ dam.1.DryView.3.CapacityRate }});
    var config9 = liquidFillGaugeDefaultSettings();
    config9.circleColor = "#FF7777";
    config9.textColor = "#FF4444";
    config9.waveTextColor = "#FFAAAA";
    config9.waveColor = "#FFDDDD";
    config9.circleThickness = 0.2;
    config9.textVertPosition = 0.2;
    config9.waveAnimateTime = 1000;
    var gauge10 = loadLiquidFillGauge("fillgauge10", {{ dam.1.DryView.2.CapacityRate }});
    var config10 = liquidFillGaugeDefaultSettings();
    config10.circleColor = "#FF7777";
    config10.textColor = "#FF4444";
    config10.waveTextColor = "#FFAAAA";
    config10.waveColor = "#FFDDDD";
    config10.circleThickness = 0.2;
    config10.textVertPosition = 0.2;
    config10.waveAnimateTime = 1000;
    var gauge11 = loadLiquidFillGauge("fillgauge11", {{ dam.1.DryView.5.CapacityRate }});
    var config11 = liquidFillGaugeDefaultSettings();
    config11.circleColor = "#FF7777";
    config11.textColor = "#FF4444";
    config11.waveTextColor = "#FFAAAA";
    config11.waveColor = "#FFDDDD";
    config11.circleThickness = 0.2;
    config11.textVertPosition = 0.2;
    config11.waveAnimateTime = 1000;
    var gauge13 = loadLiquidFillGauge("fillgauge13", {{ dam.2.DryView.0.CapacityRate }});
    var config13 = liquidFillGaugeDefaultSettings();
    config13.circleColor = "#FF7777";
    config13.textColor = "#FF4444";
    config13.waveTextColor = "#FFAAAA";
    config13.waveColor = "#FFDDDD";
    config13.circleThickness = 0.2;
    config13.textVertPosition = 0.2;
    config13.waveAnimateTime = 1000;
    var gauge14 = loadLiquidFillGauge("fillgauge14", {{ dam.2.DryView.1.CapacityRate }});
    var config14 = liquidFillGaugeDefaultSettings();
    config14.circleColor = "#FF7777";
    config14.textColor = "#FF4444";
    config14.waveTextColor = "#FFAAAA";
    config14.waveColor = "#FFDDDD";
    config14.circleThickness = 0.2;
    config14.textVertPosition = 0.2;
    config14.waveAnimateTime = 1000;
    var gauge15 = loadLiquidFillGauge("fillgauge15", {{ dam.2.DryView.3.CapacityRate }});
    var config15 = liquidFillGaugeDefaultSettings();
    config15.circleColor = "#FF7777";
    config15.textColor = "#FF4444";
    config15.waveTextColor = "#FFAAAA";
    config15.waveColor = "#FFDDDD";
    config15.circleThickness = 0.2;
    config15.textVertPosition = 0.2;
    config15.waveAnimateTime = 1000;
    var gauge16 = loadLiquidFillGauge("fillgauge16", {{ dam.2.DryView.2.CapacityRate }});
    var config16 = liquidFillGaugeDefaultSettings();
    config16.circleColor = "#FF7777";
    config16.textColor = "#FF4444";
    config16.waveTextColor = "#FFAAAA";
    config16.waveColor = "#FFDDDD";
    config16.circleThickness = 0.2;
    config16.textVertPosition = 0.2;
    config16.waveAnimateTime = 1000;
    var gauge17 = loadLiquidFillGauge("fillgauge17", {{ dam.2.DryView.4.CapacityRate }});
    var config17 = liquidFillGaugeDefaultSettings();
    config17.circleColor = "#FF7777";
    config17.textColor = "#FF4444";
    config17.waveTextColor = "#FFAAAA";
    config17.waveColor = "#FFDDDD";
    config17.circleThickness = 0.2;
    config17.textVertPosition = 0.2;
    config17.waveAnimateTime = 1000;
    var gauge18 = loadLiquidFillGauge("fillgauge18", {{ dam.2.DryView.5.CapacityRate }});
    var config18 = liquidFillGaugeDefaultSettings();
    config18.circleColor = "#FF7777";
    config18.textColor = "#FF4444";
    config18.waveTextColor = "#FFAAAA";
    config18.waveColor = "#FFDDDD";
    config18.circleThickness = 0.2;
    config18.textVertPosition = 0.2;
    config18.waveAnimateTime = 1000;
    var gauge19 = loadLiquidFillGauge("fillgauge19", {{ dam.2.DryView.6.CapacityRate }});
    var config19 = liquidFillGaugeDefaultSettings();
    config19.circleColor = "#FF7777";
    config19.textColor = "#FF4444";
    config19.waveTextColor = "#FFAAAA";
    config19.waveColor = "#FFDDDD";
    config19.circleThickness = 0.2;
    config19.textVertPosition = 0.2;
    config19.waveAnimateTime = 1000;


</script>
</body>
&ensp;
<div class="container-fluid">
	<div class="row">
		<div class="col" style="text-align:right; margin: auto 5vmin auto auto; font-size: 1.9vmin; font-weight:bold;">參考資料 : <a href="https://fhy.wra.gov.tw/ReservoirPage_2011/StorageCapacity.aspx" target="_blank">經濟部水利署</a></div>
		<div class="col" style="text-align:left; margin: auto 5mvin auto auto; font-size: 1.9vmin; font-weight:bold;">爬蟲資料來源 : <a href="https://fhy.wra.gov.tw/fhy/Monitor/Reservoir" target="_blank">經濟部水利署防災資訊網- 水庫水情</a></div>
	</div>
</div>
&ensp;
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
<script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
</html>