{% load static %}
<html lang="zh-tw">
<html>
	<head>
		<title>各類分享文</title>
		<meta charset="utf-8" />
		<link href="{% static 'fontawesome-free-5.15.3-web/css/all.min.css' %}" rel="stylesheet">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
		<style>
		.fixed {
 		 	position: fixed;
  			bottom: 20vmin;
  			right: 40vmin;
			height: 8vmin;
  			width: 8vmin;
			background-color: #222222;
			border-radius:10px;
		}
		</style>
	</head>
	<body style="background-color:#282c35;">
		<div class="fixed" align="center">
			<a href="#" style="font-size:0.1vmin; text-decoration:none;">&emsp;&emsp;&emsp;</a></br>
			<a href="#" style="font-size:5vmin; text-decoration:none; color:white;"><i class="fas fa-chevron-up"></i></a></br>
			<a href="#" style="font-size:0.1vmin; text-decoration:none;">&emsp;&emsp;&emsp;&emsp;&emsp;</a>
		</div>
		<ul class="nav nav-pills nav-fill">
			<nav class="navbar fixed-top navbar-light" style="background-color:black">
			<div class="container fluid">
 	   		<li class="nav-item">
       	 		<a class="nav-link" href="home" style="font-weight: bold; color: white; font-size:2vmin;"><i class="fas fa-home"></i>&nbsp;首頁</a>
     	 		</li>
     	 		<li class="nav-item">
      	 		<a class="nav-link" href="about" style="font-weight: bold; color: white; font-size:2vmin;"><i class="fas fa-info-circle"></i>&nbsp; 關於</a>
     	 		</li>
     			<li class="nav-item">
       			<a class="nav-link active" href="share" style="font-weight: bold; color: white; font-size:2vmin;"><i class="far fa-file-word"></i>&nbsp; 分享文</a>
     			</li>
     			 <li class="nav-item active">
       			 <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-weight: bold; color: white ; font-size:2vmin;"><i class="fas fa-spider"></i>&nbsp; 時事資訊</a>
       			 <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        			 <a class="dropdown-item" href="spidercovid-19" style="font-weight: bold; color: black; font-size:2vmin;"><i class="fas fa-lungs-virus"></i>&nbsp;Covid-19 即時資訊&nbsp; </a>
         			 <a class="dropdown-item" href="spiderwater" style="font-weight: bold; color: black; font-size:2vmin;">&nbsp;<i class="fas fa-tint"></i>&nbsp;&nbsp;水庫水位即時資訊&nbsp; </a>
         			 <a class="dropdown-item" href="#" style="font-weight: bold; color: black; font-size:2vmin;">&nbsp;<i class="fas fa-wrench"></i>&nbsp;正在開發中...</a>
       			 </div>
     			 </li>
     			<li class="nav-item">
     		  	<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-weight: bold; color: white; font-size:2vmin;">
      	 		<i class="fas fa-code"></i>&nbsp 程式練習
      	 		</a>
       			<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
       	   		<a class="dropdown-item" href="https://zerojudge.tw/" style="font-weight: bold; color: black; font-size:2vmin;">Zero Judge 高中生程式解題系統</a>
       	  		<a class="dropdown-item" href="http://www.tcgs.tc.edu.tw:1218/" style="font-weight: bold; color: black; font-size:2vmin;">台中女中程式解題系統</a>
        		<a class="dropdown-item" href="https://leetcode.com/" style="font-weight: bold; color: black; font-size:2vmin;">LeetCode</a>
      	  		</div>
      			</li>
 			</div>
			</nav>
		</ul>
		<h2>&emsp;</h2>
		<h3>&emsp;</h3>
		<div class="container">
			<div class="row">
				<div class="col-8">
					</br>
					<div class="container" style="background-color:#222222; border-radius:10px;">
						&emsp;
						<div class="row">
							<div class="col-11">
								<a href="#" style="color:#F5F5F5; font-size:4vmin; text-decoration:none;">我的第一篇文章</a>
							</div>
							<div class="col-1">
								<p style="color:#F5F5F5; font-size:1vmin; text-decoration:none;">2021/8/31</p>
							</div>
						</div>
						<div class="row">
							<p style="color:#F5F5F5; font-size:1.8vmin;">看到這一篇時，整個網站應該完成了90%以上了，不過能看到這裡代表已經成功讓外部連線了~從一開始的構想到完成，經歷了好幾個月，有時只因一個小小BUG就卡了好幾天，有時為了讓手機畫面顯示較正常而做了些妥協，雖然手機的介面還沒有完全搞定，但...至少還是人看的 XD</p>
						</div>
						<div class="row">
							<a href="#"><img src="{% static 'share\pic1.jpg' %}" width="100%"></a>
						</div>
						</br>
					</div>
				</div>
				<div class="col-1">
				</div>
				<div class="col-3">
					&emsp;
					<div class="container" style="background-color:#222222; border-radius:10px;">
						&emsp;
						<div class="row">
							<div class="col">
								<p style="color:#F5F5F5; font-size:2vmin;" align="center">關於我 about me</p>
							</div>
						</div>
						<div class="row">
							<div class="col">
								<p style="color:#F5F5F5; font-size:2vmin;" align="center"></p>
							</div>
						</div>
						&emsp;
						<div class="row">
							<div class="col-1" >
							</div>
							<div class="col-2" >
								<a href="https://www.facebook.com/profile.php?id=100015416673519" style="color:#D3D3D3; font-size:3vmin; text-decoration:none;" target="_blank" class="icon brands fab fa-facebook-square"></a>
							</div>
							<div class="col-2">
								<a href="https://www.instagram.com/yu_lin_leo/" style="color:#D3D3D3; font-size:3vmin; text-decoration:none;" target="_blank" class="icon brands fab fa-instagram"></a>
							</div>
							<div class="col-2">
								<a href="https://github.com/wendy062644" style="color:#D3D3D3; font-size:3vmin; text-decoration:none;" target="_blank" class="icon brands fab fa-github-square"></a>
							</div>
							<div class="col-2">
								<a href="mailto:aswendy062666@gmail.com" style="color:#D3D3D3; font-size:3vmin; text-decoration:none;" target="_blank" class="icon brands far fa-envelope"></a>
							</div>
							<div class="col-2">
								<a href="https://line.me/ti/p/D-_fdcZi4G" style="color:#D3D3D3; font-size:3vmin; text-decoration:none;" target="_blank" class="icon brands fab fa-line"></a>
							</div>
							<div class="col-1" >
							</div>
						</div>
						&emsp;
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-8">
					</br>
					<div class="container" style="background-color:#222222; border-radius:10px;">
						&emsp;
						<div class="row">
							<div class="col-11">
								<a href="#" style="color:#F5F5F5; font-size:4.5vmin; text-decoration:none;">我的第一篇文章</a>
							</div>
							<div class="col-1">
								<p style="color:#F5F5F5; font-size:1vmin; text-decoration:none;">2021/8/31</p>
							</div>
						</div>
						<div class="row">
							<p style="color:#F5F5F5; font-size:1.8vmin;">測試789測試789測試789測試789測試789</p>
						</div>
						<div class="row">
							<a href="#"><img src="{% static 'share\pic1.jpg' %}" width="100%"></a>
						</div>
						</br>
					</div>
				</div>
				<div class="col-1">
				</div>
			</div>
		</div>
	</body>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</html>