{% load static %}
<html lang="zh-tw">
<form action="" metdod="Post">
    {% csrf_token %}
</form>
	<tdead>
		<title>Covid-19 即時資訊</title>
		<meta charset="utf-8" />
		<link href="{% static 'fontawesome-free-5.15.3-web/css/all.min.css' %}" rel="stylesheet">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        </tdead>
        <tbody>
		<ul class="nav nav-pills nav-fill">
			<nav class="navbar fixed-top navbar-light" style="background-color:black">
			<div class="container fluid">
 	   		<li class="nav-item">
       	 		<a class="nav-link" href="home" style="font-weight: bold; color: white; font-size:2.1vmin;"><i class="fas fa-home"></i>&nbsp; 首頁 Home</a>
     	 		</li>
     	 		<li class="nav-item">
      	 		<a class="nav-link" href="about" style="font-weight: bold; color: white; font-size:2.1vmin;"><i class="fas fa-info-circle"></i>&nbsp; 關於 About</a>
     	 		</li>
     			<li class="nav-item">
       			<a class="nav-link" href="share" style="font-weight: bold; color: white; font-size:2.1vmin;"><i class="far fa-file-word"></i>&nbsp; 各類分享文</a>
     			</li>
     			 <li class="nav-item active">
       			 <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-weight: bold; color: white ; font-size:2.1vmin;"><i class="fas fa-spider"></i>&nbsp; 爬蟲時事資訊</a>
       			 <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        			 <a class="dropdown-item" href="spidercovid-19" style="font-weight: bold; color: black; font-size:2.1vmin;"><i class="fas fa-lungs-virus"></i>&nbsp;Covid-19 即時資訊&nbsp; </a>
         			 <a class="dropdown-item" href="spiderwater" style="font-weight: bold; color: black; font-size:2.1vmin;">&nbsp;<i class="fas fa-tint"></i>&nbsp;&nbsp;水庫水位即時資訊&nbsp; </a>
         			 <a class="dropdown-item" href="#" style="font-weight: bold; color: black; font-size:2.1vmin;">&nbsp;<i class="fas fa-wrench"></i>&nbsp;正在開發中...</a>
       			 </div>
     			 </li>
     			<li class="nav-item">
     		  	<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-weight: bold; color: white; font-size:2.1vmin;">
      	 		<i class="fas fa-code"></i>&nbsp 程式練習
      	 		</a>
       			<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
       	   		<a class="dropdown-item" href="https://zerojudge.tw/" style="font-weight: bold; color: black; font-size:2.1vmin;">Zero Judge 高中生程式解題系統</a>
       	  		<a class="dropdown-item" href="http://www.tcgs.tc.edu.tw:1218/" style="font-weight: bold; color: black; font-size:2.1vmin;">台中女中程式解題系統</a>
        		<a class="dropdown-item" href="https://leetcode.com/" style="font-weight: bold; color: black; font-size:2.1vmin;">LeetCode</a>
      	  		</div>
      			</li>
 			</div>
			</nav>
		</ul>
	<table class="table" style="border-collapse:separate; border-spacing:4vmin 0.5vmin;">
                {% for disease in disease %}
        	<tr>
			<td align="center" style="font-size:2vmin;">&emsp;</td>
			<td align="center" style="font-size:2vmin;"> </td>
			<td align="center" style="font-size:2vmin;"> </td>
			<td align="center" style="font-size:2vmin;"> </td>
			<td align="center" style="font-size:2vmin;"> </td>
			<td align="center" style="font-size:2vmin;"> </td>
		</tr>
		<tr>
                        <td align="center" style="font-size:4vmin;"> </td>
                        <td align="center" style="font-size:4vmin;">通報數</td>
                        <td align="center" style="font-size:4vmin;">排除</td>
                        <td align="center" style="font-size:4vmin;">確診</td>
                        <td align="center" style="font-size:4vmin;">死亡</td>
                        <td align="center" style="font-size:4vmin;">解除隔離</td>
       		</tr>
       		<tr>
                        <td align="center" style="font-size:4vmin;">國內通報總計</td>
               	 	<td align="center" style="font-size:4vmin; font-weight:bold;">{{ disease.activities.送驗 }}</td>
	     		<td align="center" style="font-size:4vmin; font-weight:bold;">{{ disease.activities.排除 }}</td>
              		<td align="center" style="font-size:4vmin; font-weight:bold; color:red;">{{ disease.activities.確診 }}</td>
                        <td align="center" style="font-size:4vmin; font-weight:bold; color:red;">{{ disease.activities.死亡 }}</td>
                        <td align="center" style="font-size:4vmin; font-weight:bold;">{{ disease.activities.解除隔離 }}</td>
        	</tr>
		<tr>
                        <td align="center" style="font-size:4vmin;"> </td>
                        <td align="center" style="font-size:4vmin;">通報數</td>
                        <td align="center" style="font-size:4vmin;">排除</td>
	        	<td align="center" style="font-size:4vmin;">確診</td>
                        <td align="center" style="font-size:4vmin;">累計件數</td>
                        <td align="center" style="font-size:4vmin;">累計人次</td>
        	</tr>
		<tr>
                        <td align="center" style="font-size:4vmin;">昨日新增</td>
                        <td align="center" style="font-size:4vmin; font-weight:bold;">{{ disease.activities.昨日送驗 }}</td>
                        <td align="center" style="font-size:4vmin; font-weight:bold;">{{ disease.activities.昨日排除 }}</td>
                        <td align="center" style="font-size:4vmin; font-weight:bold; color:red;">{{ disease.activities.昨日確診 }}</td>
	        	<td align="center" style="font-size:4vmin; font-weight:bold;">{{ disease.activity.檢驗件數 }}</td>
                        <td align="center" style="font-size:4vmin; font-weight:bold;">{{ disease.activity.檢驗人數 }}</td>
        	</tr>
			<td align="center" style="font-size:4vmin;">&emsp;</td>
			<td align="center" style="font-size:4vmin;"> </td>
			<td align="center" style="font-size:4vmin;"> </td>
			<td align="center" style="font-size:4vmin;"> </td>
			<td align="center" style="font-size:4vmin;"> </td>
			<td align="center" style="font-size:4vmin;"> </td>
		<tr>
	        	<td align="center" style="font-size:4vmin;"> </td>
                        <td align="center" style="font-size:4vmin;">全球確定病例數</td>
                        <td align="center" style="font-size:4vmin;">全球死亡病例數</td>
                        <td align="center" style="font-size:4vmin;">全球致死率</td>
                        <td align="center" style="font-size:4vmin;">國家/地區數</td>
			<td align="center" style="font-size:4vmin;">最後更新時間</td>
                </tr>
		<tr>
	        	<td align="center" style="font-size:4vmin;">全球疫情資訊</td>
                        <td align="center" style="font-size:4vmin; font-weight:bold; color:red;">{{ disease.glo.cases }}</td>
                        <td align="center" style="font-size:4vmin; font-weight:bold; color:red;">{{ disease.glo.deaths }}</td>
                        <td align="center" style="font-size:4vmin; font-weight:bold; color:red;">{{ disease.glo.cfr }}</td>
                        <td align="center" style="font-size:4vmin; font-weight:bold;">{{ disease.glo.countries }}</td>
			<td align="center" style="font-size:4vmin; font-weight:bold;">{{ disease.activity.資料更新時間 }}</td>
                </tr>
        	</tr>
			<td align="center" style="font-size:4vmin;">&emsp;</td>
			<td align="center" style="font-size:4vmin;"> </td>
			<td align="center" style="font-size:4vmin;"> </td>
			<td align="center" style="font-size:4vmin;"> </td>
			<td align="center" style="font-size:4vmin;"> </td>
			<td align="center" style="font-size:4vmin;"> </td>
		<tr>
        </tbody>
	<table class="table table-bordered table-striped border-primary" border="2" align=center>
		<tr>
			<td colspan="4" align="center" style="font-size:20px;">累計確診數前5名</td>
			<td colspan="4" align="center" style="font-size:20px;">近7日新增平均確診數前5名</td>
			<td colspan="4" align="center" style="font-size:20px;">累計死亡數前5名</td>
		</tr>
        	<tr>
			<td align="center" style="font-size:20px;">排名</td>
			<td align="center" style="font-size:20px;">國家/地區</td>
			<td align="center" style="font-size:20px;">累計確診數	</td>
			<td align="center" style="font-size:20px;">佔全球確診數比率</td>
			<td align="center" style="font-size:20px;">排名</td>
			<td align="center" style="font-size:20px;">國家/地區</td>
			<td align="center" style="font-size:20px;">近7日平均確診</td>
			<td align="center" style="font-size:20px;">增加率</td>
			<td align="center" style="font-size:20px;">排名</td>
			<td align="center" style="font-size:20px;">國家/地區</td>
			<td align="center" style="font-size:20px;">累計死亡數</td>
			<td align="center" style="font-size:20px;">佔全球死亡數比率</td>
		</tr>
	<!--第一名 first-->
        	<tr>
			<td align="center" style="font-size:20px;">{{ disease.casetop5.0.rank }}</td>
			<td align="center" style="font-size:20px;">{{ disease.casetop5.0.country }}</td>
			<td align="center" style="font-size:20px;">{{ disease.casetop5.0.cases }}</td>
			<td align="center" style="font-size:20px;">{{ disease.casetop5.0.proportion }}</td>
			<td align="center" style="font-size:20px;">{{ disease.last7casetop5.0.rank }}</td>
			<td align="center" style="font-size:20px;">{{ disease.last7casetop5.0.country }}</td>
			<td align="center" style="font-size:20px;">{{ disease.last7casetop5.0.cases }}</td>
			<td align="center" style="font-size:20px;">{{ disease.last7casetop5.0.proportion }}</td>
			<td align="center" style="font-size:20px;">{{ disease.deadtop5.0.rank }}</td>
			<td align="center" style="font-size:20px;">{{ disease.deadtop5.0.country }}</td>
			<td align="center" style="font-size:20px;">{{ disease.deadtop5.0.deaths }}</td>
			<td align="center" style="font-size:20px;">{{ disease.deadtop5.0.proportion }}</td>
		</tr>
	<!--第二名 second-->
        	<tr>
			<td align="center" style="font-size:20px;">{{ disease.casetop5.1.rank }}</td>
			<td align="center" style="font-size:20px;">{{ disease.casetop5.1.country }}</td>
			<td align="center" style="font-size:20px;">{{ disease.casetop5.1.cases }}</td>
			<td align="center" style="font-size:20px;">{{ disease.casetop5.1.proportion }}</td>
			<td align="center" style="font-size:20px;">{{ disease.last7casetop5.1.rank }}</td>
			<td align="center" style="font-size:20px;">{{ disease.last7casetop5.1.country }}</td>
			<td align="center" style="font-size:20px;">{{ disease.last7casetop5.1.cases }}</td>
			<td align="center" style="font-size:20px;">{{ disease.last7casetop5.1.proportion }}</td>
			<td align="center" style="font-size:20px;">{{ disease.deadtop5.1.rank }}</td>
			<td align="center" style="font-size:20px;">{{ disease.deadtop5.1.country }}</td>
			<td align="center" style="font-size:20px;">{{ disease.deadtop5.1.deaths }}</td>
			<td align="center" style="font-size:20px;">{{ disease.deadtop5.1.proportion }}</td>
		</tr>
	<!--第三名 third-->
        	<tr>
			<td align="center" style="font-size:20px;">{{ disease.casetop5.2.rank }}</td>
			<td align="center" style="font-size:20px;">{{ disease.casetop5.2.country }}</td>
			<td align="center" style="font-size:20px;">{{ disease.casetop5.2.cases }}</td>
			<td align="center" style="font-size:20px;">{{ disease.casetop5.2.proportion }}</td>
			<td align="center" style="font-size:20px;">{{ disease.last7casetop5.2.rank }}</td>
			<td align="center" style="font-size:20px;">{{ disease.last7casetop5.2.country }}</td>
			<td align="center" style="font-size:20px;">{{ disease.last7casetop5.2.cases }}</td>
			<td align="center" style="font-size:20px;">{{ disease.last7casetop5.2.proportion }}</td>
			<td align="center" style="font-size:20px;">{{ disease.deadtop5.2.rank }}</td>
			<td align="center" style="font-size:20px;">{{ disease.deadtop5.2.country }}</td>
			<td align="center" style="font-size:20px;">{{ disease.deadtop5.2.deaths }}</td>
			<td align="center" style="font-size:20px;">{{ disease.deadtop5.2.proportion }}</td>
		</tr>
	<!--第四名 fourth-->
        	<tr>
			<td align="center" style="font-size:20px;">{{ disease.casetop5.3.rank }}</td>
			<td align="center" style="font-size:20px;">{{ disease.casetop5.3.country }}</td>
			<td align="center" style="font-size:20px;">{{ disease.casetop5.3.cases }}</td>
			<td align="center" style="font-size:20px;">{{ disease.casetop5.3.proportion }}</td>
			<td align="center" style="font-size:20px;">{{ disease.last7casetop5.3.rank }}</td>
			<td align="center" style="font-size:20px;">{{ disease.last7casetop5.3.country }}</td>
			<td align="center" style="font-size:20px;">{{ disease.last7casetop5.3.cases }}</td>
			<td align="center" style="font-size:20px;">{{ disease.last7casetop5.3.proportion }}</td>
			<td align="center" style="font-size:20px;">{{ disease.deadtop5.3.rank }}</td>
			<td align="center" style="font-size:20px;">{{ disease.deadtop5.3.country }}</td>
			<td align="center" style="font-size:20px;">{{ disease.deadtop5.3.deaths }}</td>
			<td align="center" style="font-size:20px;">{{ disease.deadtop5.3.proportion }}</td>
		</tr>
	<!--第五名 fifth-->
        	<tr>
			<td align="center" style="font-size:20px;">{{ disease.casetop5.4.rank }}</td>
			<td align="center" style="font-size:20px;">{{ disease.casetop5.4.country }}</td>
			<td align="center" style="font-size:20px;">{{ disease.casetop5.4.cases }}</td>
			<td align="center" style="font-size:20px;">{{ disease.casetop5.4.proportion }}</td>
			<td align="center" style="font-size:20px;">{{ disease.last7casetop5.4.rank }}</td>
			<td align="center" style="font-size:20px;">{{ disease.last7casetop5.4.country }}</td>
			<td align="center" style="font-size:20px;">{{ disease.last7casetop5.4.cases }}</td>
			<td align="center" style="font-size:20px;">{{ disease.last7casetop5.4.proportion }}</td>
			<td align="center" style="font-size:20px;">{{ disease.deadtop5.4.rank }}</td>
			<td align="center" style="font-size:20px;">{{ disease.deadtop5.4.country }}</td>
			<td align="center" style="font-size:20px;">{{ disease.deadtop5.4.deaths }}</td>
			<td align="center" style="font-size:20px;">{{ disease.deadtop5.4.proportion }}</td>
		</tr>
	</table>
		<div style="text-align:right; margin: auto 5vmin auto auto; font-size: 3vmin; font-weight:bold;">資訊來源:<a href="https://www.cdc.gov.tw/" target="_blank">衛生福利部疾病管制署</a></div>
			<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
			<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
                {% endfor %}
</html>